## Chapter 9 Notes/Play around 
Dictionary syntax below for reference

In [1]:
employee_pay_rates = {'Servando':'27.50', 'Casey':'24.50', 'Nick':'28.00', 'Jesse':'35.00'}

if 'Jesse' in employee_pay_rates:
    print(employee_pay_rates['Jesse'])

35.00

### Adding a value to an existing dictionary

In [2]:
employee_pay_rates = {'Servando':'27.50', 'Casey':'24.50', 'Nick':'28.00', 'Jesse':'35.00'}

employee_pay_rates['Jake'] = '25.00'

print(employee_pay_rates)

{'Servando': '27.50', 'Casey': '24.50', 'Nick': '28.00', 'Jesse': '35.00', 'Jake': '25.00'}

### Del statement to delete a value from the dictionary

In [6]:
employee_pay_rates = {'Servando':'27.50', 'Casey':'24.50', 'Nick':'28.00', 'Jesse':'35.00'}

del employee_pay_rates['Casey']

print(employee_pay_rates)

{'Servando': '27.50', 'Nick': '28.00', 'Jesse': '35.00'}

### Iterating over each element using a for loop and using get method to retrieve the specific value associated with the element. Tested the .items() method to display all keys and values in the dictionary

In [16]:
employee_pay_rates = {'Servando':'27.50', 'Casey':'24.50', 'Nick':'28.00', 'Jesse':'35.00'}

employee_pay_rates['Logan'] = '0.00'

print(employee_pay_rates)

for element in employee_pay_rates:
    print(element)
    print(employee_pay_rates.get(element, 'Entry not found'))
    print()
    
print()
rates_and_names = employee_pay_rates.items()


print(rates_and_names)

{'Servando': '27.50', 'Casey': '24.50', 'Nick': '28.00', 'Jesse': '35.00', 'Logan': '0.00'}
Servando
27.50

Casey
24.50

Nick
28.00

Jesse
35.00

Logan
0.00


dict_items([('Servando', '27.50'), ('Casey', '24.50'), ('Nick', '28.00'), ('Jesse', '35.00'), ('Logan', '0.00')])

### Tested the .keys() and .values() methods to return all keys and all values from a dictionary

In [18]:
employee_pay_rates = {'Servando':'27.50', 'Casey':'24.50', 'Nick':'28.00', 'Jesse':'35.00'}

print(employee_pay_rates.keys())
print(employee_pay_rates.values())

dict_keys(['Servando', 'Casey', 'Nick', 'Jesse'])
dict_values(['27.50', '24.50', '28.00', '35.00'])

### New employee got added and fired so I used .pop() method to remove employee info from dictionary

In [24]:
employee_pay_rates = {'Servando':'27.50', 'Casey':'24.50', 'Nick':'28.00', 'Jesse':'35.00'}

employee_pay_rates['Monke'] = '57.00'

print(employee_pay_rates)

employee_pay_rates.pop('Monke', 'Search found no results')

print(employee_pay_rates)

{'Servando': '27.50', 'Casey': '24.50', 'Nick': '28.00', 'Jesse': '35.00', 'Monke': '57.00'}
{'Servando': '27.50', 'Casey': '24.50', 'Nick': '28.00', 'Jesse': '35.00'}

### The popitem method performs two actions: (1) It removes the key-value pair that was last added to the dictionary, and (2) it returns that key-value pair as a tuple.

In [25]:
employee_pay_rates = {'Servando':'27.50', 'Casey':'24.50', 'Nick':'28.00', 'Jesse':'35.00'}

key, value = employee_pay_rates.popitem()

print(key, value)

Jesse 35.00

### In this section, we look at a program that keeps your friends’ names and birthdays in a dictionary. Each entry in the dictionary uses a friend’s name as the key, and that friend’s birthday as the value. You can use the program to look up your friends’ birthdays by entering their names.

The program displays a menu that allows the user to make one of the following choices:

Look up a birthday

Add a new birthday

Change a birthday

Delete a birthday

Quit the program

In [ ]:
def main():
    birthdays = {}
    
    another = input('Enter \'y\' to save a name and birthday'
                   + 'or press \'n\' to exit: )
    
    user_k, user_v = input('Enter the name and birthday to be saved: ')
    
    while another.upper() == 'Y':
        
    
    
    
    
def add_del_bday(our_dict):
    
    
    
    
    
def change_bday(our_dict):
    
    
    
    
    
def search_bday(our_dict):
    
    
    
    
    
def add_bday(our_dict):
    
    
    
    
    




if __name__ =='__main__':
    main()

## Skipped a little bit of notes because of reading from the truck... On to sets! 

## Create a set using set(). To refer to individual elements of the set (as the strings pictured below), set must have individual strings as a list or any other iterable object. 

## Sets also cannot have the same element. The second line of code will reference the set 'a' 'b' and 'c' rather than aaabc

## len function also works with sets

In [27]:
my_set = set(['a', 'b', 'c'])
other_set = set('aabc')

print(my_set)
print(other_set)
print(len(my_set), len(other_set))

{'a', 'b', 'c'}
{'a', 'b', 'c'}
3 3

## Use .add() to add elements to the set

## Use .update() to add multiple elements to the set. Must be iterable objects

## Use .discard() or .remove() (.remove raises an exception when object not found)

In [31]:
my_set = set()

my_set.add(5)
my_set.add(4)
my_set.add(3)
my_set.add(2)
my_set.add(1)

my_set.update([4, 5, 6])

my_set.update([10, 11, 12, 13, 14, 15])

my_set.remove(11)

my_set.discard(23)

print(my_set)

{1, 2, 3, 4, 5, 6, 10, 12, 13, 14, 15}

## .clear() method clears the elements of a set. Interpreter returns set() to show empty set

In [33]:
my_set = set([22, 33, 44, 55, 66, 77])

my_set.clear()

print(my_set)

set()

## For loops/in and not in

## Union of two sets (combining all elements of both sets into another set). Another way to do this is with the | operator. 

## .intersection() method returns the elements that are found in both lists. Another way to do this is with the & operator.

In [1]:
my_set = set([14, 236, 33, 93, 77, 32])

for value in my_set:
    print(value)

32
33
236
77
14
93

In [2]:
my_set = set([35, 27, 91, 48, 29])

number = int(input('Enter a number to find in the set: '))

if number in my_set:
    print(f'Number {number} is in the set.')
    
else:
    print('Number not found.')

Enter a number to find in the set: 27
Number 27 is in the set.

In [5]:
set1 = set([1, 2, 3, 4, 5])

set2 = set([6, 7, 8, 9, 10])

set3 = set1.union(set2)

set4 = set1 | set2

print(set3)
print(set4)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [7]:
set1 = set([1, 2, 3, 4, 5])

set2 = set([3, 4, 5, 6, 7])

print(set1.intersection(set2))
print(set1 & set2)

{3, 4, 5}
{3, 4, 5}

## The difference of set1 and set2 is the elements that appear in set1 but do not appear in set2. In Python, you can call the difference method to get the difference of two sets. Can also be done with the - operator.

## Symmetric difference gets the numbers that are in each set, but not in both. Also can use the ^ operator to do this.

In [9]:
set1 = set([1, 2, 3, 4, 5])

set2 = set([4, 5, 6, 7, 8])

print(set1 - set2)

print(set1.difference(set2))

{1, 2, 3}
{1, 2, 3}

In [11]:
set1 = set([1, 2, 3, 4])

set2 = set([3, 4, 5, 6])

print(set1 ^ set2)

print(set1.symmetric_difference(set2))

{1, 2, 5, 6}
{1, 2, 5, 6}

## If all the elements in one set are present in another set, that set is a subset of the bigger set. The set containing each element is the superset. Use the issubset() method to determine if set is a subset. Same with issuperset()

## You can also use the <= operator to determine whether one set is a subset of another and the >= operator to determine whether one set is a superset of another.

In [19]:
set1 = set([1, 2, 3, 4])

set2 = set([2, 3])

print(set2.issubset(set1))
print(set1.issuperset(set2))

print(set2 <= set1)
print(set1 >= set2)

True
True
True
True

## Serializing objects to save them to a file

## Sometimes you need to save a complex piece of data to a file such as a dictionary or set. In order to do this it must be serialized or pickled

## To pickle the data you must import the pickle modules dump method. Then open a file in .dat to save binary. dump method format = pickle.dump(object, file)

In [ ]:
import pickle 

with open('mydata.dat', 'wb') as output_file:
    numb

In [21]:
room_numbers = {'CS101': '3004', 'CS102': '4501', 'CS103': '6755', 'NT110': '1244', 'CM241': '1411'}

added_class = input('Enter a class to add: ')

added_room_no = input('Enter the classroom number: ')

room_numbers[added_class] = added_room_no

print(room_numbers)

Enter a class to add: CS104
Enter the classroom number: 4932
{'CS101': '3004', 'CS102': '4501', 'CS103': '6755', 'NT110': '1244', 'CM241': '1411', 'CS104': '4932'}

In [34]:
from ClassAdderMod import class_adder

# main function gets the course number from user and passes the course
# number to three functions to get the room number, teacher, and start time
# for the course entered, then displays all of the data.
def main():    
    
    add_class = input('Would you like to add a class to the database? '
                     + 'Enter \'y\' for yes or \'n\' for no: ')
    
    while add_class.upper() == 'Y':
        new_course = input('Enter the new course number: ')
        print()
        
        new_room, new_teacher, new_time = class_adder(new_course)
        
        add_class = input('Would you like to add another class? '
                         + 'Enter \'y\' for yes or \'n\' for no: ')
        
    
    course_number = input('Enter your course number: ')
    
    room_num = find_room_no(course_number)
    
    teacher = find_teacher(course_number)
    
    start = find_start_time(course_number)
    
    print(f'{course_number} starts at {start}, in Mr.\\Mrs. '
         + f'{teacher}\'s room: {room_num}')
            
            
# finds the room number from the dictionary of room numbers
# provided for each class. All functions are basically a copy
# and paste of eachother because they all do the same function 
# with different data 
def find_room_no(course):
    room_numbers = {'CS101': '3004', 'CS102': '4501', 'CS103': '6755', 'NT110': '1244', 'CM241': '1411'}

    for key in room_numbers:
        if course in room_numbers:
            value = room_numbers.get(course)
            return value
        
    if course not in room_numbers:
            print('Course not found')
        
    
    

# finds the teacher from the dictionary of teachers 
# provided for each class 
def find_teacher(course):
    teachers = {'CS101': 'Haynes', 'CS102': 'Alvarado', 'CS103': 'Rich', 'NT110': 'Burke', 'CM241': 'Lee'}

    for key in teachers:
        if course in teachers:
            value = teachers.get(course)
            return value
        
        
        
# finds the start time from the dictionary of start
# times provided for each class 
def find_start_time(course):
    start_times = {'CS101': '8 AM', 'CS102': '9 AM', 'CS103': '10 AM', 'NT110': '11 AM', 'CM241': '1 PM'}

    for key in start_times:
        if course in start_times:
            value = start_times.get(course)
            return value        

        
    
            
            
            
            
            

# call to main function 
if __name__ == '__main__':
    main()

NameError: name 'null' is not defined