In [80]:
# Get total number of seconds
total_seconds = float(input('Enter number of seconds: '))

# Calculate with remainders
hours = total_seconds // 3600

minutes = (total_seconds // 60) % 60

seconds = total_seconds % 60

# Display the amount of time in H, M, S, from seconds only
print('Here is the time in hours, minutes, and seconds: ')
print('Hours: ', hours)
print('Minutes: ', minutes)
print('Seconds: ', seconds)

Enter number of seconds: 36805
Here is the time in hours, minutes, and seconds:
Hours:  10.0
Minutes:  13.0
Seconds:  25.0

In [12]:
print('1' + '2')

12

In [13]:
print('h' 'e' 'l' 'l' 'o')

hello

In [14]:
# \t is tab 
print('Hello\tI\tam\tbored')

Hello	I	am	bored

In [15]:
# \n is newline 
print('Hello\nI\nam\nbored')

Hello
I
am
bored

In [16]:
# Gather numbers to calculate
number_1 = float(input('Enter any number: '))
number_2 = float(input('Enter any number, again: '))

# Calculate numbers
calculation = number_1 * number_2

# Display result with only 2 decimal places
print(f'Your total is {calculation:.2f}')

Enter any number: 4543
Enter any number, again: 23555
Your total is 107010365.00

In [20]:
# Format with only one decimal place to a math equation
a = 2
b = 3
print(f'{a / b:.1f}')

0.7

In [22]:
# Format with comma separation
number = 123456789.123456789
print(f'{number:,}')

123,456,789.12345679

In [23]:
# Format with comma separation and only 2 decimal places
number = 123456789.123456789
print(f'{number:,.2f}')

123,456,789.12

In [28]:
# Format amount to display with dollar sign
monthly_pay = 4217.54
annual_pay = monthly_pay * 12

print(f'Your annual pay is ${annual_pay:,.2f}')

Your annual pay is $50,610.48

In [33]:
# Format amount in a percentage
discount = 0.2
print(f'Your discount earned you {discount:.0%} off today!')

Your discount earned you 20% off today!

In [34]:
# Display equations in scientific notation
number = 12345.6789
print(f'{number:e}')

1.234568e+04

In [41]:
# Display equation in scientific notation with only 2 decimal places
number = 12345.6789
print(f'{number:.2e}')

1.23e+04

In [43]:
# Formatting Integers
# Separating an integer with commas using
number = 123456
print(f'{number:,d}')

123,456

In [47]:
# Specifying field width or number of characters that display in a number
number = 99
print(f'The number is {number:15}')
# The variable is printed 15 spaces away from the rest of the string
# 99 is only two digits long, however it is displayed as if it were 15 characters long

The number is              99

In [48]:
# Formatting a floating point number to 2 decimal places, with comma separators, and field width of 12 
number = 12345.6789
print(f'The number is {number:12,.2f}')

The number is    12,345.68

In [52]:
# This program displays numbers in two columns 
num1 = 3438.484
num2 = 438.438
num3 = 3892.43
num4 = 3897.234
num5 = 23897.23
num6 = 34245.675

# Each number displayed with field width of 15 spaces and rounded to 2 decimal places
print(f'{num1:15.2f}{num2:15.2f}')
print(f'{num3:15.2f}{num4:15.2f}')
print(f'{num5:15.2f}{num6:15.2f}')

        3438.48         438.44
        3892.43        3897.23
       23897.23       34245.68

In [53]:
# Numbers default right-align to the field width 
number = 22
print(f'The number is {number:10}.')

The number is         22.

In [55]:
# Strings default left-align to the field of width
name = "Casey"
print(f'Hello {name:10}, nice to meet you.')

Hello Casey     , nice to meet you.

In [58]:
# Change alignment in integers with <, >, ^
number = 15
print(f'{number:10d}')
print(f'{number:<10d}')
print(f'{number:>13d}')
print(f'{number:^10d}')

        15
15
           15
    15

In [60]:
# Change alignment in floating point numbers with <, >, ^
number = 15.335
print(f'{number:10f}')
print(f'{number:<10f}')
print(f'{number:>13f}')
print(f'{number:^10f}')

     15.34
15.34
        15.34
  15.34

In [62]:
# Center strings with names
name1 = "Casey" 
name2 = "Logan"
name3 = "Skylar"
name4 = "Monke"
name5 = "Peepants"
name6 = "Poopants"

print(f'***{name1:^20}***')
print(f'***{name2:^20}***')
print(f'***{name3:^20}***')
print(f'***{name4:^20}***')
print(f'***{name5:^20}***')
print(f'***{name6:^20}***')

***       Casey        ***
***       Logan        ***
***       Skylar       ***
***       Monke        ***
***      Peepants      ***
***      Poopants      ***

In [64]:
# Shows the order of designators
#[alignment][width][,][.precision][type]
number = 2500.598734
print(f'{number:^20,.2f}')

      2,500.60

In [68]:
# Formatted strings that span multiple lines must be lead with "f'"
# If not, string will not print {}
name = 'Casey'
department = 'sales'
position = 'manager'

print(f'Employee name: {name}, +'
     f'Department: {department}, +'
     f'Position: {position}.')

# If you forget to format it will print as an unformatted string
# Also, using implicit concatenation (missing the +)
name = 'Casey'
department = 'sales'
position = 'manager'

print(f'Employee name: {name}, '
     'Department: {department}, '
     'Position: {position}.')

Employee name: Casey, +Department: sales, +Position: manager.
Employee name: Casey, Department: {department}, Position: {position}.

In [89]:
# Named constant exercise 
# Creating a named constant for a 10% discount (ALL CAPS)
DISCOUNT = 0.1

# Items to apply discount to 
item_1 = 64.25
item_2 = 72.87

# Calculating discount percentage
discount_1 = item_1 * DISCOUNT
discount_2 = item_2 * DISCOUNT

# Applying discount to each item individually and adding total
price_1 = item_1 - discount_1
price_2 = item_2 - discount_2

# Totalling items and discounts
total = price_1 + price_2
discount = discount_1 + discount_2

# Display total price and total money saved via discounts
print(f'Your total is ${total:.2f}. You saved ${discount:.2f} today!')

Your total is $123.41. You saved $13.71 today!